/* app css stylesheet */
@font-face {
    font-family: myFirstFont;
    src: url(resources/fonts/cac_champagne-webfont.woff);
    font-weight: 800;
}

html{
    margin: 0;
    width: 100%;
    min-width: 990px;

}
body{
    margin-top : -5em;
    height: 100%;
    width: 100%;
    background-image: url(resources/img/background-img.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    display: block;
    text-align: center;
    font-family: myFirstFont;
    padding-top: 25px;
    height: 1.5em;
    text-align: center;
    width: 100%;
    background: whitesmoke fixed;
    position: fixed;
    z-index: 10;
    font-size: 7em;
}

.corps{
    margin-left: 8em;
    margin-right: 8em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 12em;
    margin-top: 3em;
    margin-bottom: 3em;
    height: 100%;
}

.addMyMenu{
    background-color: whitesmoke;
    position: fixed;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: myFirstFont;
    padding-top: 0;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    border-radius: 4px;
}

.list-group-item{
    background-color: whitesmoke;
    margin : 2em;
    border-radius: 4px;
}

#viewNvote{
    margin-top: 2em;
}

p{
    color: black;

}

h2{
    text-align: center;
    font-size: 4em;
}
h4{
    font-size: 1.5em;
}

.menu_def{
    font-family: myFirstFont;
    display:inline-block;
    width:120px;
    font-size: 1.2em;
}
.menu_def_author{
    font-family: myFirstFont;
    text-indent: 4em;
    display:inline-block;
    width:120px;
    font-size: 1.2em;
}

.menu_item{
    font-family: myFirstFont;
    display:inline-block;
    width:200px;
    font-size: 1.2em;
}

.menu_new_item{
    font-family: myFirstFont;
    display:inline-block;
    float: right;
    width:200px;
}

.btn.btn-secondary{
    font-size: 1.5em;
    background-color: #463F32;
    color: whitesmoke;
}

.btn.btn-secondary:hover {
    background-color: #1b1613;
}

.btn.btn-primary{
    background-color: whitesmoke ;
    border: none;
    color: #463F32;
}

.btn.btn-primary:hover {
    background-color: lightgrey;
}

.right{
    text-align: right;
    font-style: oblique;
    font-size: 1.4em;
}

.glyphicon .glyphicon-thumbs-up{
    cursor: pointer;
}

.glyphicon .glyphicon-thumbs-down{
    cursor: pointer;
}
